html {
    background-color: #40798c;
}
html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    height: 100%;
    width: 100%;
    display: table;
}
.header, .content, .footer {
    display: table-row;
}
.header, .footer {
    background-color: #40798c;
}
.header {
    z-index: 10000;
    overflow: hidden;
}
.footer {
}
.inner {
    display: table-cell;
}
.content .inner {
    height: 100%;
    position: relative;

    // font-family: Georgia, serif;
    font-family: Courier New, monospace;
    line-height:1.6;
    font-size:18px;
    color:#f6f1d1;
    background-color:#0a141e;
    background-image: url("../images/big_octo.png");
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: center 50px;
    background-attachment: fixed;
}
.scrollable {
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    overflow: auto;
}
.main {
    margin-left: 200px;
    margin-right: 200px;
}

h1,h2,h3{
    line-height:1.2;
}
h1,h2{color: #6099ac;}

.header .nav_a, .logo_a {
    font-family: Courier New, monospace;
    float: left;
    display: block;
    color: #f6f1d1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    float:left;
}
.logo_text {
    color: #f6f1d1;
    padding: 16px 12px;
    text-decoration: none;
    font-size: 20px;
}
.header .logo_a:hover, .nav_a:hover {
    color: #f6f1d1;
    background-color:#152a31;
}
.header .logo_text.active {
    color: #f6f1d1;
}
.header .logo_a.active, .nav_a.active{
    background-color:#152a31;
    color: #f6f1d1;
}

footer {
    display: table-row;
    background-color: #40798c;
    text-align: center;
}
footer ul {
    padding: 0 0 0 0;
    margin: 4px;
}
footer li {
    display:inline-block;
    height: 100%;
}
footer li a {
    text-decoration: none;
}
footer li a img {
    max-width: 32px;
}
footer .foot_txt {
    font-size: 14px;
    text-align: center;
}

@media only screen and (max-width : 600px) {
    .header #logo_link {
        width: 100%;
    }
    .logo {
        position:absolute;
        left: 0;
    }
    .logo_text {
        position: relative;
        left: 0;
    }
    .header .nav_a {
        display:inline-block;
        width: 33.33%;
        margin: 0;
        padding: 10px 0;
    }
    #navlinks {
        width:100%;
        margin:0 auto;
        padding:0;
        list-style:none;
        text-align:center;
    }
    .main {
        margin-left: 25px;
        margin-right: 25px;
    }
}

figure {
    position: relative;
}
figcaption {
    text-align:center;
    font-size: 14px;
    color: #f6f1d1;
}
/* unvisited link */
a:link {
  color: #48b5eb;
}

/* visited link */
a:visited {
  color: #d81e5b;
}

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: #48b5eb;
}
