pre.numbered {
    counter-reset: linecounter;
    width: 90%;
}
pre.numbered span.sl {
    counter-increment: linecounter;
}
pre.numbered span.sl:before {
    content: counter(linecounter);
    width:2em;
    display: inline-block;
    -webkit-user-select: none;
}
.inline_code {
    display:inline-grid;
    overflow: auto;
    padding: 1em 1.5em;
    margin-bottom: 1.6em;
    white-space:pre;
    font-family: monospace;
    line-height: 1.2;
    border: 1px solid #000000;
    border-left: 3px solid #d81e5b;
    background-color: #000a14;
    color: #f6f1d1;
    width: 100%;
}
span.kw {
    color: #d81e5b;
    font-weight: bold;
}
span.cmt {
    color: #48b4eb;
    font-style: italic;
}
span.str {
    color: #53aa6f;
}
span.prompt {
    -webkit-user-select: none;
}
code {
}
